:root {
  --title-text-color: #292f36;
  --mini-text-color: #4d5053;
  --decoration-text-color: #cda274;
  --bcg-color: #ffffff;
  --arrow-bcg-color: #f4f0ec;
  --posts-bcg-color: #e7e7e7;
  --add-color: #e5e5e5;
}
/* шрифти */
body {
  font-family: Jost;
}
/* container */
.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

/* header */
.header{
  padding-top: 0;
  padding-bottom: 30px;
}
.header>.container {
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 40px;
  padding-left: 505px;
  padding-top: 12px;
  padding-bottom: 19px;
}
.header-item > .header-link{
  color: var(--title-text-color);
    font-family: Jost;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4px;
}
.header-item > .header-link:hover {
  color: var(--decoration-text-color);
  font-family: Jost;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}
/* main */

/* 1 */

.dream{
  padding-top: 188px;
  padding-bottom: 260px;
  text-align: left;
  background-image: url(../images/sofasq.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.dream-title{
  color: var(--title-text-color);
    font-family: "DM Serif Display";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.22px;
    width: 595px;
}
.dream-subtitle{
  color: var(--mini-text-color);
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 577px;
    margin-top: 19px;
}
.dream-button{
  border-radius: 18px;
  background-color: var(--title-text-color);
  color: #FFF;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.72px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 34px;
    padding-right: 67px;
    margin-top: 35px;
}

/* 2 */

.more{
  padding-top: 175px;
  padding-bottom: 170px;
  text-align: center;
}
.more-list{
  display: flex;
}
.more-item{
  padding-top: 75px;
  padding-right: 41px;
  padding-left: 42px;
  padding-bottom: 70px;
}
.more-title{
  color: var(--title-text-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.22px;
    padding-bottom: 17px;
}
.more-subtitle{
  color: var(--mini-text-color);
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    padding-bottom: 15px;
}
.more-item:first-child > .more-subtitle{
  padding-bottom: 48px;
}
.more-item:last-child>.more-subtitle {
  padding-bottom: 48px;
}
/*.more-subtitle:first-child {
   color: var(--mini-text-color);
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  width: 317px;
  margin-top: 17px;
  margin-bottom: 48px;
  margin-left: 42px;
  margin-right: 41px;
}
.more-subtitle:nth-child(2) {
  color: var(--mini-text-color);
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  width: 297px;
  margin-left: 52px;
  margin-right: 51px;
  margin-top: 17px;
  margin-bottom: 15px;
}
.more-subtitle:last-child {
  color: var(--mini-text-color);
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  width: 296px;
  margin-left: 52px;
  margin-right: 52px;
  margin-top: 17px;
  margin-bottom: 15px;
} */
.more-button{
  color: var(--mini-text-color);
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
    background-color: var(--bcg-color);
    border: none;
    padding-top: 20px;
    padding-left: 98px;
    padding-right: 98px;
}

/* 3 */

.call > .container {
  display: flex;
  justify-content: space-between;
}

.call-title {
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.30;
  letter-spacing: 0.22px;
  padding-bottom: 42px;
  padding-right: 158px;
  padding-top: 13px;
}

.wrap {
  display: flex;
}
.wrap-button{
  border-radius: 100px;
    background-color: var(--arrow-bcg-color);
    width: 93px;
      height: 93px;
      margin-right: 20px;
      margin-bottom: 40px;
      border: none;
}
.wrap-img{
  padding-top: 29px;
  padding-right: 29px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 0px 326px 0px 123px;
}

.call-link {
  width: 93px;
  height: 93px;
}

.call-tel {
  color: var(--text-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.50;
  letter-spacing: 0.22px;
}

.call-subtitle {
  color: var(--text-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.50;
  letter-spacing: 0.22px;
  padding-bottom: 68px;
  padding-right: 77px;
  padding-bottom: 40px;
}

.call-button {
  border-radius: 18px;
  border: 2px solid var(--title-color);
  background-color: var(--title-text-color);
  color: var(--bcg-color);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.50;
  letter-spacing: 0.72px;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-right: 67px;
  padding-left: 34px;
}

/* 4 */

.think{
  padding-bottom: 141px;
  padding-top: 176px;
}
.think > .container{
  border-radius: 70px;
    background-color: var(--arrow-bcg-color);
}

/* 5 */
.brands{
  padding-bottom: 100px;
}
.brands-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 6 */
.projects{
  padding-top: 113px;
  padding-bottom: 140px;
}
.projects-title{
  color: var(--title-text-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    padding-bottom: 20px;
}
.projects-subtitle{
  color: var(--mini-text-color);
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    padding-bottom: 70px;
    
} 
.winery-subtitle{
  color: var(--mini-text-color);
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}
.minimalist-subtitle{
  color: var(--mini-text-color);
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}
.modern-subtitle{
  color: var(--mini-text-color);
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}
.scandinavian-subtitle{
  color: var(--mini-text-color);
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}
.winery-title{
    color: var(--title-text-color);
      font-family: "DM Serif Display";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 37.5px;
      letter-spacing: 0.22px;
}
.minimalist-title{
  color: var(--title-text-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
}
.modern-title{
    color: var(--title-text-color);
      font-family: "DM Serif Display";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 37.5px;
      letter-spacing: 0.22px;
}
.scandinavian-title{
  color: var(--title-text-color);
    font-family: "DM Serif Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
}
.projects-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.projects-item{
  flex-basis: calc((100% - 20px) / 2);
}
.projects-information{
  display: flex;
}
.projects-box{
  padding-bottom: 61px;
}
.projects-button{
  order: 1;
  width: 70px;
    height: 70px;
    border-radius: 100px;
    border: none;
}
.projects-bigimg{
  width: 100%;
  width: 590px;
    height: 661px;
}

 .projects-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
 }
 .projects-information{
  padding-top: 25px;
 }


/* 7 */
.numbers{
  background-color: var(--arrow-bcg-color);
}
.numbers > .container{
  display: flex;
  justify-content: space-around;
}
.numbers-box{
  border-right: 2px solid var(--decoration-text-color);
}
.line-box{
  display: flex;
    flex-direction: column;
    padding-top: 153px;
    padding-bottom: 150px;
    width: 288px;
      height: 195px;
}
.numbers-title{
  color: var(--decoration-text-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.5px;
    letter-spacing: 1.7px;
}
.numbers-subtitle{
  justify-content: space-between;
  color: var(--mini-text-color);
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

/* 8 */
.blogs{
  padding-top: 293px;
}


/* 9 */

.join{
    border-radius: 70px;
    background-color: var(--title-text-color);
    margin-left: 120px;
    margin-bottom: 80px;
    margin-right: 120px;
    margin-top: 141px;
}
.join-title{
  text-align: center;
  color: #FFF;
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.22px;
    padding-top: 100px;
}
.join-subtitle{
  text-align: center;
  color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    padding-top: 9px;
}
.join-button{
 margin-top: 31px;
 margin-left: 485px;
 margin-right: 485px;
 margin-bottom: 95px;
background-color: var(--decoration-text-color);
  stroke-width: 2px;
  stroke: var(--decoration-text-color);
  filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.20));
  border-radius: 18px;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-right: 67px;
  padding-left: 34px;
  color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.22px;
}
/* footer */
.footer{
  padding-top: 130px;
  padding-bottom: 36px;
}
.footer-subtitle{
  padding-top: 15px;
  padding-right: 67px;
  padding-bottom: 29px;
  color: var(--mini-text-color);
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}
.add{
  margin-top: 146px;
}
.add > .footer-subtitle{
  display: flex;
  justify-content: center;
  padding-bottom: 36px;
}
.links{
  display: flex;
}
.footer-list{
  display: flex;
  gap: 16px;
}
.img-list{
  display: flex;
  gap: 40px;
}
.footer-link{
  color: var(--mini-text-color);
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}
.footer-title{
  color: var(--title-text-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    padding-bottom: 22px;
}
.footer-span{
  color: var(--decoration-text-color);
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}