:root{
    --title-text-color: #292F36;
    --mini-text-color: #4D5053;
    --decoration-text-color: #CDA274;
    --bcg-color: #FFFFFF;
    --arrow-bcg-color: #F4F0EC;
    --posts-bcg-color: #E7E7E7;
    --add-color: #E5E5E5;
}
/* шрифти */
body{
    font-family: Jost;
}
.dream-title{
    font-family: "DM Serif Display";
}
.more-title{
    font-family: "DM Serif Display";
}
.call-title{
    font-family: "DM Serif Display";
}
.think-title{
    font-family: "DM Serif Display";
}
.projects-title{
    font-family: "DM Serif Display";
}
.numbers-title{
    font-family: "DM Serif Display";
}
.blogs-title{
    font-family: "DM Serif Display";
}
.join-title{
    font-family: "DM Serif Display";
}
.footer-title{
    font-family: "DM Serif Display";
}
.adress-title{
    font-family: "DM Serif Display";
}
.winery-title{
font-family: "DM Serif Display"
}
.minimalist-title{
font-family: "DM Serif Display"
}
.modern-title{
font-family: "DM Serif Display"
}
.scandinavian-title{
font-family: "DM Serif Display"
}


.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* header */

.header-list{
    display: flex;
    gap: 40px;
    justify-content: end;
}
.header-link{
    color: var(--title-text-color);
}
.header-link:hover{
color: var(--decoration-text-color);
}

/* main */

/* footer */

